@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background:#Fec107;
    padding: 0 10px;
}
.wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
    padding: 30px;
}

.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #Fec107;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form{
    width: 100%;
}

.wrapper .form .field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .field label{
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .field .input,
.wrapper .form .field .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .field .textarea{
    width: 100%;
    height: 125px;
    resize: none;
}

.wrapper .form .field .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .form .field .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form .field .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}


.wrapper .form .field .input:focus,
.wrapper .form .field .textarea:focus,
.wrapper .form .field .custom_select select:focus{
    border: 1px solid #Fec107;
}

.wrapper .form .field p{
    font-size: 14px;
    color: #757575;
}
.wrapper .form .field .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}
.wrapper .form .field .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.wrapper .form .field .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #Fec107;
    display: block;
    position: relative;
}
.wrapper .form .field .check .checkmark:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}
.wrapper .form .field .check input[type="checkbox"]:checked ~ .checkmark{
    background: #Fec107;
}

.wrapper .form .field .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
}

.wrapper .form .field .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background:  #Fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .field .btn:hover{
    background: #Fec107;
}

.wrapper .form .field:last-child{
    margin-bottom: 0;
}

@media (max-width:420px) {
    .wrapper .form .field{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .field label{
        margin-bottom: 5px;
    }
    .wrapper .form .field.terms{
        flex-direction: row;
    }
}
/* Style the footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    background-color: white;
    text-align: center;
    color: black;
    margin-top: 10px;
}
